<%= form_for(@consumed_food) do |f| %>

  <div class="row" >
    <% if flash[:success] %>
      <h3><%= flash[:success] %></h3>
    <% end %>
    <% if flash[:error] %>
      <h3><%= flash[:error] %></h3>
    <% end %>

    <div class="row">
      <div class="field col-xs-6">
        <%= f.label :exercise_id %>

        <%= f.collection_select(:food_id, @food_list, :id, :name, {:include_blank => "Please select a food"}, {:required => true, :class => ""}) %>
        <!-- < % = f.number_field :exercise_id, placeholder: "Ex id.", class: "white_background workout_map_set_input" % > -->
      </div>
      <div class="col-xs-6">
        <%= f.label :scheduled_date %>
        <%= f.datetime_select :scheduled_date, required: true, placeholder: "scheduled_date", :minute_step => 1 %>
      </div>
    </div>
    <%= f.submit "Post" %>
  </div>
<% end %>
