<%= form_for(@performed_exercise) do |f| %>

    <div class="row">
      <div class="col-xs-3">
        <%= f.label :blood_sugar_map_id %>
        <%= f.number_field :blood_sugar_map_id, required: true, placeholder: "blood_sugar_map_id" %>
      </div>
      <div class="field col-xs-3">
        <%= f.label :exercise_id %>

        <%= f.collection_select(:exercise_id, @exercise_list, :id, :name, {:include_blank => "Please select exercise"}, {:required => true, :class => ""}) %>
      </div>
      <div class="col-xs-12">
        <%= f.label :scheduled_date %>
        <%= f.time_select :scheduled_date, required: true, placeholder: "scheduled_date", :minute_step => 1 %>
      </div>
    </div>
    <%= f.submit "Post" %>
<% end %>
